#pageHeader {
    background-image: url(../images/table-food.jpg);
    background-color: blanchedalmond;
    text-align: center;
}

.container {
    text-align: center;
}

.buttons {
    background-color: blue
}

#zipCode {
    text-align: center;
}

